@import url("../../../app/globals.css");

.inputWrap {
  margin: 0;
}
.labelWrapper {
  display: flex;
  gap: 0.125rem;
  margin-bottom: 0.5rem;
  height: 1.75rem;
}
.labelText {
  flex-shrink: 1;
  align-self: center;
  min-height: 0;
  font: var(--typography-text-md-regular);
  letter-spacing: -0.01rem;
}
.labelRequired {
  align-self: center;
  min-height: 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: var(--colors-foreground-fg-color-primary);
}
.inputField {
  display: inline-block;
  padding: 0.625rem;
  width: 100%;
  height: auto;
  min-height: 2.25rem;
  font: var(--typography-text-sm-regular);
  color: var(--colors-text-text-primary);
  background-color: var(--colors-brand-neutral-lightest-gray);
  border-radius: var(--radius-xxs);
  border: 1px solid var(--colors-brand-neutral-medium-gray);
}